<mat-sidenav-container class="layout-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div class="sidenav-header">
      <mat-icon class="brand-icon">query_stats</mat-icon>
      <span class="brand-text">QueryDSL Admin</span>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      @for (item of navItems(); track item.route) {
        <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content-area">
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Toggle menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-spacer"></span>
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
        <span class="username">{{ auth.username() }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <div class="menu-header" mat-menu-item disabled>
          <div class="menu-user">{{ auth.username() }}</div>
          <div class="menu-role">{{ auth.roles().join(', ').replace(/ROLE_/g, '') }}</div>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="page-content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
